.layout {
    width: 100%;
}

.header {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header {
    background-color: #1A1A1A;
    height: 80px;
}

.content {
    background-color: #363636;
}

.list {
    width: 100%;
}

.footer {
    background-color: #1A1A1A;
}